/* General styling for site. */
html {
    font-family: 'Lato', sans-serif;
}

header, footer {
    width: 100%;
    background-color: rgb(91, 110, 225);
}

.top-padding {
    height: 65px;
}

.divider {
    height: 2px;
    background-color: black;
}
